apiVersion: postgresql.cnpg.io/v1
kind: Pooler
metadata:
  name: true-tetra-rw
  namespace: postgres
spec:
  cluster:
    name: moving-moose
  instances: 3
  type: rw
  pgbouncer:
    poolMode: session
    parameters:
      max_client_conn: "300"
      default_pool_size: "10"
      ignore_startup_parameters: "search_path"
  deploymentStrategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
  # PodTemplateSpec
  template:
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchLabels:
                    postgresql.cnpg.io/cluster: moving-moose
                topologyKey: topology.kubernetes.io/zone
