apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ingress-nginx
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "-1000"
spec:
  project: cluster-infrastructure
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
  source:
    chart: ingress-nginx
    repoURL: https://kubernetes.github.io/ingress-nginx
    targetRevision: 4.8.3
    helm:
      releaseName: ingress-nginx
      valuesObject:
        ingressClassResource:
          default: true
        controller:
          kind: DaemonSet
          updateStrategy:
            type: RollingUpdate
            rollingUpdate:
              maxUnavailable: 1
          service:
            type: NodePort
            nodePorts:
              http: 32080
              https: 32443
          hostPort:
            enabled: true
          metrics:
            enabled: true
            serviceMonitor:
              enabled: false
          config:
            allow-snippet-annotations: "true"
            generate-request-id: "true"
            use-proxy-protocol: "true"
  destination:
    server: "https://kubernetes.default.svc"
    namespace: ingress-nginx
